html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}
.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 3rem;
  font-size: 3rem;
  font-weight: bold;
}
.carta {
  position: relative;
  max-width: 15rem;
  max-height: 15rem;
  left: 10rem;
  margin-left: -7.5rem;
}

#ccomputadora-cartas,
#jugador-cartas {
  max-height: 20rem;
}
